[submodule "submodules/zsh-history-substring-search"]
	path = submodules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "submodules/vim-command-t"]
	path = submodules/vim-command-t
	url = https://github.com/wincent/Command-T
[submodule "submodules/vim-supertab"]
	path = submodules/vim-supertab
	url = https://github.com/vim-scripts/SuperTab
[submodule "submodules/zsh-oh-my-zsh"]
	path = submodules/zsh-oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "submodules/vim-irblack"]
	path = submodules/vim-irblack
	url = https://github.com/wgibbs/vim-irblack
[submodule "submodules/vim-soy"]
	path = submodules/vim-soy
	url = https://github.com/duganchen/vim-soy
[submodule "submodules/solarized"]
	path = submodules/solarized
	url = https://github.com/altercation/solarized.git
